* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.loader_wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

button {
  text-transform: none !important;
}