nav {
  width: 100%;
  height: 65px;
  background-color: #fff;
  display: flex;
  justify-content: stretch;

  #logo {
    display: flex;
    justify-content: left;
    font-size: 23px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 45px;
    color: #C8252C;
    cursor: pointer;
    text-decoration: none;
  }

  .MuiButton-root {
    padding: 2px 18px;
  }

  .search_field_wrap {
    position: relative;
    width: 60%;
    padding-top: 5px;
    padding-left: 30px;

    input {
      padding: 0 0 0 12px;
      width: 100%;
      height: 40px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 14px;
      border-radius: 3px;
      border: #fff;
      position: relative;
      top: 0;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 1px solid #C8252C;
    }
  }
}

@media(max-width: 768px) {
  nav {
    #logo {
      font-size: 15px;
      padding-top: 20px;
      padding-left: 20px;
    }
  }
}

@media(max-width: 450px) {
  nav {
    #logo {
      font-size: 15px;
      padding-top: 10px;
      padding-left: 20px;
    }
  }
}